<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Edit existing article</h1>
    <% if @article.errors.any? %>
        <ul>
            <h2>The following errors prevented the article to be created</h2>
            <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_for @article do |f| %>
        <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
        </p>
        <p>
        <%= f.label :description%><br/>
        <%= f.text_area :description%>
        </p>
        <p>
        <%= f.submit %>
        </p>
    <% end %>
    
    <%= yield %>
    <%= link_to 'Back to article listing', articles_path%> |
    <%= link_to 'Home', root_path%>
  </body>
</html>
